@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }

}

@media only screen and (max-width: 1023px) {
    .main-nav {
        width: 80%;
        padding-left: 5%;
    }

    body {
        font-size: 18px;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    section {
        padding: 60px 0;
    }

    .steps-box {
        margin-top: 10px;
    }

    .steps-box:last-child {
        margin-top: 10px;
    }

    .steps {
        margin-bottom: 40px;
    }

    .steps:last-of-type {
        margin-bottom: 60px;
    }

    .app-display {
        width: 50%;
    }

    .section-cities ion-icon {
        width: 18px;
        margin-right: 5px;
    }

    .city-box {
        font-size: 90%;
    }

    .plan-box {
        width: 100%;
        margin-left: 0;
    }

    .price-month {
        font-size: 220%;
    }

    .contact-form {
        width: 80%;
    }

    .main-nav li {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0;
    }

    .row,
    .hero-text-box {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .main-nav {
        display: none;
    }

    h1 {
        font-size: 180%;
    }

    h2 {
        font-size: 150%;
    }

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    .app-display {
        width: 40%;
    }

    .steps-box:first-child {
        text-align: center;
    }

    .steps div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }

    .steps {
        margin-bottom: 20px;
    }

    .steps:last-of-type {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 480px) {
    section {
        padding: 25px 0;
    }

    .contact-form {
        width: 100%;
    }
}