/*
orange:  e67e22

*/

/*---------------------------------------
BASIC SETUP
---------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

.clearfix {
    zoom: 1;
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*---------------------------------------*/
/*REUSABLE COMPONENTS*/
/*---------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 70px 0;
}

.box {
    padding: 1%;
}

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid #e67e22;
    font-weight: 300;
    transition: color 0.2s, border-bottom 0.2s;
}

a:hover,
a:active {
    color: #555555;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid transparent;
}

/*-------HEADINGS-------*/
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;

}

h1 {
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2.5px;
    background-color: #e67e22;
    content: " ";
    width: 150px;
    margin: 30px auto;
}

/*-------PARAGRAPHS-------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

#longcopyfeatures {
    margin-bottom: 30px;
}

/*-------ICONS-------*/
.icon-big {
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

/*-------BUTTONS-------*/
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 150px;
    color: #ffffff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    margin: 0 20px 0 0;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #c0681b;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid #c0681b;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #c0681b;
    color: #ffffff;
}

/*---------------------------------------*/
/*HEADER*/
/*---------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 110px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-right: 45px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 7px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*---------------------------------------*/
/*MEALS*/
/*---------------------------------------*/
.meal-showcase {
    list-style: none;
    width: 100%;
}

.meal-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photos {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photos img {
    opacity: 70%;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.4s, opacity 0.4s;
}

.meal-photos img:hover {
    transform: scale(1.05);
    opacity: 100%;
}

.section-meals {
    padding: 0;
}

/*--------how it works-------------*/
.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 80px;

}

.app-display {
    width: 40%;
}

.steps {
    margin-bottom: 50px;
}

.steps:last-of-type {
    margin-bottom: 70px;
}

.steps div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    font-size: 150%;
    padding: 8px;
    margin-right: 25px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.btn-app:link,
.btn-app:visited {
    border-bottom: 0px;
}

/*-------cities--------*/

.section-cities ion-icon {
    color: #e67e22;
    width: 30px;
    text-align: center;
    font-size: 120%;
    /*technique for text and icon alignment*/
    line-height: 120%;
    vertical-align: middle;
    margin-right: 15px;
    margin-top: -5px;
    display: inline-block;
}

.city-box img {
    max-width: 100%;
    margin-bottom: 15px;
}

.city-box h3 {
    text-align: center;
}

.loc {
    margin-bottom: 7px;
}

/*----------TESTIMONIALS--------------*/
.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/back-customers.jpg);
    background-attachment: fixed;
    color: #ffffff;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 140%;
    margin-bottom: 25px;
    margin-top: 17px;
}

cite {
    font-size: 90%;
    display: block;
}

cite img {
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 20px;
}

blockquote::before {
    content: "\201C";
    display: block;
    font-size: 400%;
    margin-bottom: -20px;
    margin-left: -10px;
}

/*----------PRICINGS--------------*/
.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #ffffff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0px 0px 10px 4px #8d8d8d67;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.plan-box ul {
    list-style-type: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box ion-icon {
    font-size: 85%;
    padding-right: 10px;
}

.plan-box .last-box {
    visibility: hidden;
}

.plan-box div:last-child {
    text-align: center;
    border-bottom: hidden;
}

.plan-box div:first-child {
    background-color: #ebebebd7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.price-month {
    font-size: 300%;
    margin-bottom: 10px;
    color: #e67e22;
}

.price-month span {
    font-size: 27%;
}

.price-meal {
    font-size: 80%;
}

/*----------CONTACT--------------*/
.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 5px 5px 5px 0px;
}

*:focus {
    outline: none;
}

/*----------CONTACT--------------*/
footer {
    background-color: #3f3f3f;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:visited,
.social-links li a:link {
    text-decoration: none;
    border: 0;
    color: #adadad;
}

.footer-nav li a:active,
.footer-nav li a:hover {
    color: #e67e22;
}

.copyright {
    color: #adadad;
    font-size: 80%;
    text-align: right;
    margin-top: 10px;
}

ion-icon[name=logo-facebook]:hover,
ion-icon[name=logo-facebook]:active {
    color: #1877f2;

}

ion-icon[name=logo-twitter]:hover,
ion-icon[name=logo-twitter]:active {
    color: #1da1f2;
}

ion-icon[name=logo-google]:hover,
ion-icon[name=logo-google]:active {
    color: #ea4335;
}

ion-icon[name=logo-instagram]:hover,
ion-icon[name=logo-instagram]:active {
    color: #c32aa3;
}

ion-icon[name=logo-facebook],
ion-icon[name=logo-twitter],
ion-icon[name=logo-google],
ion-icon[name=logo-instagram] {
    font-size: 125%;
    transition: 0.3s;
}